.book-page {
  &.container {
    display: grid;
    row-gap: 40px;
    column-gap: 20px;
    grid-template-columns: 50% 50%;
    grid-template-areas:
      "BI BD"
      "BF BF"
    ;
  }

  .book {
    grid-area: BI;
  }

  .book-page__description {
    grid-area: BD;
    background: #fff;
    border-radius: 8px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    .description__title {
      font-family: 'Open Sans';
      font-weight: 700;
      font-size: 16px;
      line-height: 22px;
    }

    .description__text {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
    }
  }

  .book-page__feedbacks {
    grid-area: BF;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;

    .feedbacks__item {
      background: #fff;
      border-radius: 8px;
      padding: 20px;
      display: flex;
      flex-direction: column;
      gap: 16px;

      .item__info {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}